

<p> <%= @product.name %> </p>
<p> <%= @product.description %> </p>
<p> <%= @product.price_in_dollars %> </p>

<h3>Product Review</h3>
<ol><% @product.reviews.each do |review| %>
  <li><%= review.comment %> <br>
  <strong> <%= review.created_at%> </strong><br>
  <%= link_to("Edit", edit_product_review_path(@product, review)) %></li>
  <% end %>
</ol>

<%= link_to('Edit Product', edit_product_path(@product)) %>
<%= link_to("Delete Product", product_path(@product), method: :delete, data: {confirm: "Are you sure you want to delete this product?"})%>

<h4>New Review</h4>

<%= render 'reviews/review_form', product: @product, review: @review %>
