<!DOCTYPE html>
<html>
  <head>
    <title>RainforestP1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to("Home Page", products_path) %>
    </nav>


    <% if flash[:notice]%>
      <p><%= flash[:notice]%></p>
    <% elsif flash[:alert]%>
      <p><%= flash[:alert]%></p>
    <% end %>


    <%= yield %>

  </body>
</html>
